.folioContainer {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap; 
    gap: 1rem; 
    padding: 1rem;
}

.folioCard {
    width: 30%; 
    position: relative;
    cursor: pointer;
}

.folioImage {
    width: 100%; 
    vertical-align: middle;
    border-radius: 0.5rem;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  flex-wrap: wrap; 
  gap: 1rem; 
  padding: 1rem;
}

.detailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photosContainer{
  display: flex;
  flex-direction: row;
  gap: 1rem; 
  padding: 1rem;
  align-items: center;
}

.containerTop {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-inline: 45px;
    padding-block: 20px;
    border-radius: 20px;
    background-color: #ffffffe2;
    
  }
  .containerDropdown {
    display: flex;
    gap: 15px;
  }
  
  .containerNumbers {
    display: flex;
    gap: 15px; 
  }

  .productDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 30px;
  }

  .productPrice{
    display: flex;
    flex-direction: column;

  }
  .unitaryPrice {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .productAdd{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .containerOptions{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content:space-between;
    
  }

  .containerFlowers {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.698);
    padding-inline: 70px;
    padding-block: 20px;
    align-items: center;
    border-radius: 20px;
  }
  .containerPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .containerPriceSave {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-between;
  }

  .containerProductCart{
    display: flex;
    width: 90%;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.698);
    padding-inline: 10px;
    padding-block: 10px;
    align-items: center;
    border-radius: 20px;
    
  }

  .containerView{
    display: flex;
    width: 30%;
    flex-direction: column;
  }

.containerDetail{
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
}
.details{
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
  margin-block: 5px;
}

.details text{
  margin-block: 5px;
}



.productFinalCost {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  justify-content: space-between;
  width: 95%;
}