.carousel {
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel__slide img {
    width: 100%;
    height: auto;
  }
  
  .carousel__controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .carousel__control {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .carousel__dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .carousel__dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .carousel__dot.active {
    background-color: rgba(0, 0, 0, 1);
  }
  