.header-container {
    display: flex;
    width: 1105px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 45px;
    padding-block: 30px;
    border-radius: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.698);
  }

  .logo-placeholder {
    width: 100px;
    height: 40px;
    background-color: #e0e0e0; 
    margin-right: auto; 
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  
  .header-icons {
    display: flex;
    gap: 15px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f4d6fe;
  }
  
  .icon-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .icon-button svg {
    width: 20px;
    height: 20px;
    color: #000;
  }
  