/* Eliminar márgenes, paddings y establecer un box-sizing consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* O la fuente de tu elección */
    font-size: 16px;
  }
  
  #root {
    height: 100%; /* Asegura que el root ocupe toda la altura disponible */
  }
  
  button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
  }
  
  /* Eliminar subrayado de los enlaces por defecto */
  a {
    text-decoration: none;
    color: inherit;
  }
  